---
const title = "Yutna";
const description =
  "Welcome to my site. I'm a web developer focused on Ruby, Elixir, and JavaScript. In my free time, I immerse in learning and crafting technical blog content.";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const imagePath = "/assets/images/brand/yutna-logo-white.jpg";
const imageURL = new URL(imagePath, Astro.url);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />

<!-- Favicon Icon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageURL} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={imageURL} />
